$yellow: #F3DB9B;
$chromatic: #04A41F;
$crystal-gold: #BD780D;
$chinese-neon: #E44A8D;
$deep-sea: #509E6F;
$gargoyle-purple: #734678;
$chinese: #978851;
$crystal: #51629C;
$swamp: #2AA80D;
$gargoyle: #988891;
$xin: #BC3227;
$green-2: #05921E;
$pink: #BF76B3;
$dark-grey: #121617;
$dark-brown: #504323;
$light-grey: #CDCED6;

$grey-green: #91CF9C;
$light-gold: #DEB26E;
$blue: #55ADFF;
$dark-blue: #3036E7;
$purple: #BB7CCA;

$phantom-blue: #543BC8;

$font-color: #D1BFB3;
